@media only screen and (max-width: 860px) {

    /* .nav-bar h1,
    h4,
    a {
        font-size: 2em;
        margin-left: 5em;
    } */

    .fa-github,
    .fa-linkedin,
    .fa-twitter {
        font-size: 2em;
        margin-right: 2em;
    }

    .navBar img {
        width: 10em;
        height: 10em;
    }
}

h1 {
    font-weight: bolder;
    margin-top: 2em;
}

img {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    margin-bottom: 20em;
    margin-top: 2em;
}

.nav-bar{
    background: #32c69a;
    position: fixed;
    z-index: 2;
    top: 0;
    margin: auto;
    width: 100%;
    height: 50%;
}

.navBar h1,
h4 {
    color: white;
}

.fa {
    text-decoration: none;
    font-size: 2em;
    width: 1.5em;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: grey
}

.fa-github,
.fa-linkedin {
    background-color: white;
    color: grey;
}

.fa-twitter {
    background-color: white;
    color: grey;
}

.li-skills {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: white;
    background: grey;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    text-decoration: none;
}

.profile-bio {
    margin-top: 25em;
}

label {
    font-weight: bolder;
}

fieldset {
    /* display: block; */
    margin-left: 0.8;
    margin-right: 0.8;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
    background-color: #F5F5F5;
}